<nav class="navbar navbar-dark " style ="background-color: blue;">
    <a class="navbar-brand" href="/">
        <img src="/assets/logo.png" alt="" style="width: 45%;">
    </a>
    <ul class="navbar nav" style="margin-right:10% ;">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories" style="color: seashell;">Categorias</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles" style="color: seashell;">Artigos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users" style="color: seashell;">Usuários</a>
        </li>
        <li class="nav-item">
          
        </li>
    </ul>
</nav>
